modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "test-api-server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "test-oracle"

[[workflows.workflow]]
name = "test-api-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server test"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow]]
name = "test-oracle"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/oracle test"

[workflows.workflow.metadata]
isValidation = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["revenuecat:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["freetype", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[userenv]

[userenv.shared]
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_ZHqUsgLlRoZHrJMXYuORqTifJkI"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_MVjqmiOHiNJOrJOEQYUMwxGAabe"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_qLeXmqpifiVQkGExwqzLnGDrTCY"
REVENUECAT_PROJECT_ID = "proj0d2e3f19"
REVENUECAT_TEST_STORE_APP_ID = "app287375fed1"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appef53412c9f"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "app3b21753f01"
